.info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: space-between; */
    margin-top: 30px;
    width: 100%;
}

.info__container{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 5px;
    min-width: 150px;
    width: 13%;
    /* max-width: 200px; */
    box-shadow: 2px 2px 12px rgba(0, 0, 255, 0.15);
}

/* .info__container:last-child{
    margin-right: 0;
} */

.info__icon{
    font-size: 1.8rem !important;
    padding: 15px;
}

.info__detail{
    margin-left: 20px;
}

.info__number{
    margin: 0;
    text-align: center;
}

.info__name{
    margin: 0;
    margin-top: 3px;
    font-weight: 500;
    font-size: 1.08rem;
}

.green{
    color: green;
    background-color: rgba(0, 128, 0, 0.192);
    border-radius: 50%;
}

.red{
    color: crimson;
    background-color: rgba(220, 20, 60, 0.198);
    border-radius: 50%;
}

.orange{
    color: orange;
    background-color: rgba(255, 166, 0, 0.192);
    border-radius: 50%;
}

.blue{
    color: blue;
    background-color: rgba(0, 0, 255, 0.198);
    border-radius: 50%;
}

@media(max-width: 458px){
    .info{
        justify-content: center;
    }
    .info__container{
        width: 70%;
        margin-right: 0;
        justify-content: space-evenly;
    }
}